@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

#root {
  padding: 1rem;
}

/* Main text color for each countdown item */
.countdown-item:nth-child(1) .main-text {
  color: #f9d843; /* Lighter Yellow */
}

.countdown-item:nth-child(2) .main-text {
  color: #F9A94A; /* Lighter Orange */
}

.countdown-item:nth-child(3) .main-text {
  color: #E65877; /* Lighter Red */
}

.countdown-item:nth-child(4) .main-text {
  color: #9A6AF5; /* Lighter Purple */
}
